.bg{
    background-color: seagreen;
}
h1{
    color: black
;
}
h2{

}
h3{

}
h4{

}
h5{

}
h6{

}
.tank{
    border: 10px solid black;
    background-color: dimgray;
    padding: 25px;
}
.header{

    margin:25pt;
    color: black;
    padding: 25pt;
    border: 1px solid black;
    background-color: darkgreen;
}
.footer{
    margin-top: 100%;
}
.container{
    margin: 10pt;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    color:white;
}

tr:nth-child(even) {
    background-color: darkgreen;
}
td{
    color:black;
}
th{
    color: black;;