.bg{
    background-color: seagreen;
}
h1{
    color: black
;
}
h2{

}
h3{

}
h4{

}
h5{

}
h6{

}
.tank{
    border: 10px solid black;
    background-color: dimgray;
    padding: 25px;
}
.header{

    margin:25pt;
    color: black;
    padding: 25pt;
    border: 1px solid black;
    background-color: darkgreen;
}
.footer{
    margin-top: 100%;
}